body {
    /* Remova a linha do linear-gradient */
    /* background: linear-gradient(to bottom, rgba(12, 84, 77, 1) 6%, rgba(84, 196, 131, 1) 67%, rgba(0, 105, 56, 1) 100%); */

    /* Adicione estas linhas para a imagem de fundo */
    background-image: url('./img/blob-haikei.svg'); /* Substitua 'sua-imagem.jpg' pelo caminho correto da sua imagem */
    background-size: cover; /* Faz a imagem cobrir todo o fundo, cortando se necessário */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* (Opcional) Faz a imagem de fundo ficar fixa enquanto a página rola */

    /* Mantenha o restante dos estilos do body */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.container__main {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Este já alinha os itens verticalmente ao meio */
    flex-grow: 1;
}

.conteudo-principal {
    flex-grow: 1 ;
}

.container__conteudo {
    font-display: flex;
    flex-direction: column;
}

.imagem__senac {
    margin-top: 20px;
    height: 50px;
    width: 90px;
}

.imagem__container {
    margin: 0 80px 0 0
}

.container__titulos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 400px ;
    padding: 15px;
}

.titulo__main {
    font-size: 70px;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;

}

.subtitulo {
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    margin-right: 160px;
    padding-bottom: 20px;
}

.texto__container-main{
    padding: 0px 80px 0px 400px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

.rodape__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: 100%;
    background-color: #37353E;
    position: absolute;
    top: 100%
}

.texto__rodape {
    color: #fff
}

.lista__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.item__container1 {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}


.item__container2 {
    background-color: blue;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.item__container3 {
    background-color: green;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}